{% extends "base.html" %} {% block title %}homehomehome BIKE LIBRARY, USE IT OR LOSE IT homehomehome{% endblock %}

{% block content %}

<h1 align="center">Pez</h1>



<h3><em>reference tool for conscious hedonists</em></h3>
<br />
<div align="center"><img height="350px" src="https://i.pinimg.com/564x/06/02/38/0602382d020643a4cc10337c61b42ba1.jpg" alt="gumball-machine" /></div>









<h3><em>Check the risks</em></h3>

<form action="/submit" method="post"></form>

<form method="POST">
    <label for="medicationA">Drug 1:</label>
    <input type="text" name="medicationA" id="medicationA" class="form-control" placeholder="ie: adderall" required />

    <label for="medicationB">Drug 2: </label>
    <input type="text" name="medicationB" id="medicationB" class="form-control" placeholder="ie: GHB" required />

    <br />

    <button align="center" type="submit" id="check-drugs" class="btn btn-primary">Check Meds Query</button>
    

</form>

{% endblock %}