{% extends "base.html" %} {% block title %}PEZ{% endblock %}

{% block content %}

<h1 align="center">Pez</h1>



<h3><em>reference tool for conscious hedonists</em></h3>
<br />
<div align="center">EXTRA LINE</div>









<h3><em>Check the risks</em></h3>

<form action="/submit" method="post"></form>

<form method="POST">
    <label for="medicationA">Drug 1:</label>
    <input type="text" name="medicationA" id="medicationA" class="form-control" placeholder="ie: adderall" required />

    <label for="medicationB">Drug 2: </label>
    <input type="text" name="medicationB" id="medicationB" class="form-control" placeholder="ie: GHB" required />

    <br />

    <button align="center" type="submit" id="check-drugs" class="btn btn-primary">Check Meds Query</button>
    
</form>

{% if user.is_authenticated %}
    {% if query %}
    {% if responseA  %}
    {% if responseB %}
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{responseA}} & {{responseB}}</button>
            </h5>
        </div>
    {% endif %}
    {% endif %}

        <div id="collapseOne" class="collapse-show" aria-labelledby="headingOne" data-parent="accordian">
            <div class="card-body"> 
                <form>
                 <p class="text-center ">{{query.medicationA and query.medicationB}}</p>   
                 <p class="text-center">{{query.interactionA}}</p>

                 <br>
                 <br>
                 <p class="text-center ">{{query.interactionB}}</p>   
                 </form>

                
                </div>
        </div>
    </div>
    {% endif %}
{% endif %}

{% endblock %}