{% extends "base.html" %} {% block title %}queriesqueriesQUERIESqueriesqueries{% endblock %}

{% block content %}
<h1 align="center">Pez</h1>

{% if user.is_authenticated %}

<h1>HELLO WORLD</h1>

<table border="1">
    <thead>
        <tr>
            <th>Saved Search</th>
            <th>Medication A</th>
            <th>Medication B</th>
            <th>Interaction A</th>
            <th>Interaction B</th>

        </tr>
    </thead>
    <tbody>
        {% for query in queries %}
        <tr>
            <td>{{query.id}}</td>
            <td>{{query.medicationA}}</td>
            <td>{{query.medicationB}}</td>
            <td>{{query.interactionA}}</td>
            <td>{{query.interactionB}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}